body{
margin:0;
padding:0;
background:url(images7.jpg);
background-size:cover;
background-position:center;
font-family:sans-serif;
}
.login-box{
width:320px;
height:550px;
background:rgba(0,0,0,0.5);
color:#fff;
top:10%;
left:40%;
position:absolute;
transform:translate(-50%,-50%;);
box-sizing:border-box;
}
.avatar{
width:100px;
height:70px;
border-radius:50%;
position:absolute;
top:-50px;
left: calc(50% - 50px);
}
.av{
width:100px;
height:100px;

}
.end{
color:#fff;
left:1100px;
position:absolute;
top:550px;}
#name{
width:90%;
}
#name{
width:90%;
}
#email{
width:90%;
}
#phone{
width:90%;
}
#country{
width:40%;
}
p{
left:40%;}